@media (max-width: 900px) {
	.header__list {
		display: none;
	}

	.header__button {
		display: block;
	}

	.header__nav.open .header__list {
		overflow: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #ffffff;
		z-index: 1;
		padding: 46px 30px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 34px;
		font-weight: 600;
	}

	.header__nav.open .header__button {
		position: fixed;
		z-index: 9;
		top: 46px;
		right: 30px;
	}

	.contacts {
		padding: 60px 0;
	}

	.contacts__title-box {
		margin-bottom: 20px;
	}

	.contacts__content {
		margin-bottom: 20px;
	}

	.contacts__button {
		margin-bottom: 70px;
	}

	.contacts__social {
		column-gap: 50px;
		margin-bottom: 20px;
	}
}